<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
  </nav>
  <div class="container-fluid">
    <a id="btnAdd" class="btn btn-primary">Agregar</a>
    <a id="btnDelete" class="btn btn-primary" href="#eliminar_producto">Eliminar</a>
    <a id="btnUpdate" class="btn btn-primary" href="#modificar_producto">Modificar</a>
  </div>
  
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Existencias</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Creacion</th>
        <th scope="col">Ultima actualizacion</th>
      </tr>
    </thead>
    <tbody id="tableSkuTbody">
      </tbody>
  </table>
</div>

</div>
  